@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900&subset=latin-ext');



/*font-family: 'Cinzel Decorative', cursive;*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    position: relative;
    height: 100vh;
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


.constelation {
    position: absolute;
    height: 40vh;
    opacity: .5;

}

.one {
    animation: StarOne 120s both linear infinite;
}

.two {
    animation: StarTwo 120s both linear infinite;
}

.three {
    animation: StarThree 120s both linear infinite;
}

.four {
    animation: StarFour 120s both linear infinite;
}

@keyframes StarOne {
    0% {
        top: 35%;
        left: 50%
    }

    5% {
        top: 30%;
        left: 55%;
        transform: rotate(18deg)
    }

    10% {
        top: 25%;
        left: 60%;
        transform: rotate(36deg)
    }

    15% {
        top: 20%;
        left: 65%;
        transform: rotate(54deg)
    }

    20% {
        top: 25%;
        left: 70%;
        transform: rotate(72deg)
    }

    25% {
        top: 30%;
        left: 75%;
        transform: rotate(90deg)
    }

    30% {
        top: 35%;
        left: 70%;
        transform: rotate(108deg)
    }

    35% {
        top: 40%;
        left: 65%;
        transform: rotate(126deg)
    }

    40% {
        top: 45%;
        left: 60%;
        transform: rotate(144deg)
    }

    45% {
        top: 43%;
        left: 55%;
        transform: rotate(162deg)
    }

    50% {
        top: 40%;
        left: 50%;
        transform: rotate(180deg)
    }

    55% {
        top: 35%;
        left: 45%;
        transform: rotate(198deg)
    }

    55% {
        top: 40%;
        left: 40%;
        transform: rotate(216deg)
    }

    60% {
        top: 45%;
        left: 35%;
        transform: rotate(224deg)
    }

    65% {
        top: 40%;
        left: 32%;
        transform: rotate(242deg)
    }

    70% {
        top: 35%;
        left: 28%;
        transform: rotate(260deg)
    }


    75% {
        top: 30%;
        left: 30%;
        transform: rotate(278deg)
    }

    80% {
        top: 35%;
        left: 32%;
        transform: rotate(296deg)
    }

    85% {
        top: 40%;
        left: 35%;
        transform: rotate(314deg)
    }

    90% {
        top: 45%;
        left: 40%;
        transform: rotate(332deg)
    }

    95% {
        top: 40%;
        left: 45%;
        transform: rotate(350deg)
    }

    100% {
        top: 35%;
        left: 50%;
        transform: rotate(360deg)
    }
}

@keyframes StarTwo {
    0% {
        top: -5%;
        left: 10%
    }

    5% {
        top: 0%;
        left: 15%;
        transform: rotate(18deg)
    }

    10% {
        top: 5%;
        left: 21%;
        transform: rotate(36deg)
    }

    15% {
        top: 10%;
        left: 27%;
        transform: rotate(54deg)
    }

    20% {
        top: 12%;
        left: 34%;
        transform: rotate(72deg)
    }

    25% {
        top: 14%;
        left: 40%;
        transform: rotate(90deg)
    }

    30% {
        top: 16%;
        left: 46%;
        transform: rotate(108deg)
    }

    35% {
        top: 18%;
        left: 50%;
        transform: rotate(126deg)
    }

    40% {
        top: 20%;
        left: 55%;
        transform: rotate(144deg)
    }

    45% {
        top: 23%;
        left: 60%;
        transform: rotate(162deg)
    }

    50% {
        top: 65%;
        left: 67%;
        transform: rotate(180deg)
    }

    55% {
        top: 28%;
        left: 64%;
        transform: rotate(198deg)
    }

    55% {
        top: 30%;
        left: 60%;
        transform: rotate(216deg)
    }

    60% {
        top: 35%;
        left: 55%;
        transform: rotate(224deg)
    }

    65% {
        top: 30%;
        left: 50%;
        transform: rotate(242deg)
    }

    70% {
        top: 25%;
        left: 45%;
        transform: rotate(260deg)
    }


    75% {
        top: 20%;
        left: 40%;
        transform: rotate(278deg)
    }

    80% {
        top: 15%;
        left: 35%;
        transform: rotate(296deg)
    }

    85% {
        top: 10%;
        left: 30%;
        transform: rotate(314deg)
    }

    90% {
        top: 5%;
        left: 20%;
        transform: rotate(332deg)
    }

    95% {
        top: 0%;
        left: 15%;
        transform: rotate(350deg)
    }

    100% {
        top: -5%;
        left: 10%;
        transform: rotate(360deg)
    }
}

@keyframes StarThree {
    0% {
        top: 60%;
        left: 80%
    }

    5% {
        top: 55%;
        left: 76%;
        transform: rotate(18deg)
    }

    10% {
        top: 50%;
        left: 73%;
        transform: rotate(36deg)
    }

    15% {
        top: 45%;
        left: 70%;
        transform: rotate(54deg)
    }

    20% {
        top: 40%;
        left: 67%;
        transform: rotate(72deg)
    }

    25% {
        top: 30%;
        left: 63%;
        transform: rotate(90deg)
    }

    30% {
        top: 25%;
        left: 59%;
        transform: rotate(108deg)
    }

    35% {
        top: 20%;
        left: 56%;
        transform: rotate(126deg)
    }

    40% {
        top: 13%;
        left: 59%;
        transform: rotate(144deg)
    }

    45% {
        top: 8%;
        left: 63%;
        transform: rotate(162deg)
    }

    50% {
        top: 11%;
        left: 68%;
        transform: rotate(180deg)
    }

    55% {
        top: 15%;
        left: 72%;
        transform: rotate(198deg)
    }

    60% {
        top: 20%;
        left: 76%;
        transform: rotate(224deg)
    }

    65% {
        top: 25%;
        left: 73%;
        transform: rotate(242deg)
    }

    70% {
        top: 30%;
        left: 68%;
        transform: rotate(260deg)
    }


    75% {
        top: 35%;
        left: 64%;
        transform: rotate(278deg)
    }

    80% {
        top: 40%;
        left: 70%;
        transform: rotate(296deg)
    }

    85% {
        top: 45%;
        left: 73%;
        transform: rotate(314deg)
    }

    90% {
        top: 50%;
        left: 76%;
        transform: rotate(332deg)
    }

    95% {
        top: 55%;
        left: 78%;
        transform: rotate(350deg)
    }

    100% {
        top: 60%;
        left: 80%;
        transform: rotate(360deg)
    }
}

@keyframes StarFour {
    0% {
        top: 60%;
        left: -5%
    }

    5% {
        top: 55%;
        left: 0%;
        transform: rotate(18deg)
    }

    10% {
        top: 50%;
        left: 5%;
        transform: rotate(36deg)
    }

    15% {
        top: 45%;
        left: 10%;
        transform: rotate(54deg)
    }

    20% {
        top: 40%;
        left: 15%;
        transform: rotate(72deg)
    }

    25% {
        top: 35%;
        left: 20%;
        transform: rotate(90deg)
    }

    30% {
        top: 30%;
        left: 25%;
        transform: rotate(108deg)
    }

    35% {
        top: 25%;
        left: 30%;
        transform: rotate(126deg)
    }

    40% {
        top: 20%;
        left: 25%;
        transform: rotate(144deg)
    }

    45% {
        top: 17%;
        left: 30%;
        transform: rotate(162deg)
    }

    50% {
        top: 23%;
        left: 35%;
        transform: rotate(180deg)
    }

    55% {
        top: 30%;
        left: 30%;
        transform: rotate(198deg)
    }

    60% {
        top: 40%;
        left: 27%;
        transform: rotate(224deg)
    }

    65% {
        top: 45%;
        left: 24%;
        transform: rotate(242deg)
    }

    70% {
        top: 50%;
        left: 21%;
        transform: rotate(260deg)
    }


    75% {
        top: 55%;
        left: 18%;
        transform: rotate(278deg)
    }

    80% {
        top: 60%;
        left: 16%;
        transform: rotate(296deg)
    }

    85% {
        top: 55%;
        left: 14%;
        transform: rotate(314deg)
    }

    90% {
        top: 50%;
        left: 12%;
        transform: rotate(332deg)
    }

    95% {
        top: 55%;
        left: 10%;
        transform: rotate(350deg)
    }

    100% {
        top: 60%;
        left: -5%;
        transform: rotate(360deg)
    }
}



.name.on {
    display: flex;
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 10vh;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    width: 90%;
    /* background-color: black; */
}

.name {
    display: none
}

span {
    margin: 0 -15px;
    flex-grow: 1
}

span:nth-of-type(1) {

    animation: Name 3.3s 1s both,
        Lost 1s 7.7s forwards;
}

span:nth-of-type(2) {
    animation: Name 3.3s 1.3s both,
        Lost 1s 7.7s forwards;
}

span:nth-of-type(3) {
    animation: Name 3.3s 1.6s both,
        Lost 1s 7.4s forwards;

}

span:nth-of-type(4) {
    animation: Name 3.3s 1.9s both,
        Lost 1s 7.1s forwards;
}

span:nth-of-type(5) {
    animation: Name 3.3s 2.2s both,
        Lost 1s 6.8s forwards;
}

span:nth-of-type(6) {
    animation: Name 3.3s 2.5s both,
        Lost 1s 6.5s forwards;
}

span:nth-of-type(7) {
    animation: Name 3.3s 2.8s both,
        Lost 1s 6.2s forwards;
}

span:nth-of-type(8) {
    animation: Name 3.3s 3.1s both,
        Lost 1s 5.9s forwards;
}

span:nth-of-type(9) {
    animation: Name 3.3s 3.4s both,
        Lost 1s 5.6s forwards;
}

span:nth-of-type(10) {
    animation: Name 3.3s 3.7s both,
        Lost 1s 5.3s forwards;
}

span:nth-of-type(11) {
    animation: Name 3.3s 4s both,
        Lost 1s 5s forwards;
}

@keyframes Name {
    0% {
        opacity: 0
    }

    10% {
        opacity: 0
    }


    10.1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Lost {
    0% {
        ransform: scale(1) translateY(0px);
        opacity: 1;
    }

    20% {
        transform: scale(1.2) translateY(-2px);
        opacity: .8;
    }

    100% {
        transform: scale(0) translateY(-10px);
        opacity: 0;
    }

}

@media (max-width: 700px) {
    .name {
        font-size: 7vh;
    }
}

.far {

    display: none;
}

.far.active {
    z-index: 2;
    display: block;
    position: fixed;
    top: 7vh;
    right: 7vw;
    background-color: transparent;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 6vh;
    transition: 0.3s;
    cursor: pointer;
}

.fa-star.active {
    position: fixed;
    top: 5vh;
    right: 5vh;
    color: rgb(193, 217, 226);
    font-size: 7vh;
    cursor: pointer;
    transform: rotate(0);
    animation: button 1s both;

}

/* 
.button:hover {
    animation: rote 1s linear infinite;
} */

@keyframes button {

    0% {
        transform: scale(0);
    }

    0.1% {
        transform: scale(1);
        right: 50%;
        top: 50%
    }

    50% {
        transform: scale(5);
        right: 50%;
        top: 50%
    }

    80% {
        transform: scale(3);
        right: 50%;
        top: 50%
    }

    100% {
        top: 5vh;
        right: 5vh;
        transform: scale(1)
    }


}

/* @keyframes rote {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
} */


nav {
    display: none
}

nav.active {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, .7);
    padding-top: 1vh;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    align-items: stretch;
    justify-content: space-around;
    /* padding: 10% 0; */
}

li {

    flex-grow: 1;
    position: relative;
}

a {
    font-family: 'Cinzel', serif;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ddd;
    font-size: 4vh;
    padding-bottom: 1.5vh;
    border-bottom: 2px solid white;
}