.aside {
    background-color: rgba(255, 255, 255, .5);
    height: 100%;
    padding: 2vw;
}

.aside h3 {
    font-size: 2.5rem;
    margin-bottom: 4vh;
}

.nav-aside {
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.aside li {
    margin-bottom: 2vh;
}