header {
    overflow: hidden;
    position: relative;
    height: 30vh;
}

header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
}

h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #ddd;
    letter-spacing: 4px;
    text-transform: uppercase;
    width: 100vw;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    padding: 2vh;
}

nav {
    position: absolute;
    width: 100vw;
    bottom: 0;
    background-color: rgba(255, 255, 255, .5);
}